<div class="parent">
    <div class="child">
     <label for="">Num1:</label>
     <input type="number" [(ngModel)]="num1">
     <br>

     <label for="">Num2:</label>
     <input type="number"[(ngModel)]="num2">

     <br>
     <br>

     <button [disabled]="!num1||!num2" (click)="sum()">sum</button>
     <button  [disabled]="!num1||!num2" (click)="sub()">sub</button>
     <button  [disabled]="!num1||!num2" (click)="mul()">mul</button>
     <button  [disabled]="!num1||!num2" (click)="div()">div</button>

     <h1>{{result}}</h1>
    </div>
</div>
