.parent{
    height: 100vh;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.child{
    height: 300px;
    width: 350px;
    background-color:rgb(244, 137, 61);
    border-radius: 10px;
}
button{
    height: 40px;
    width: 80px;
}
h5{
    color:rgb(1, 69, 1);
}
