.parent{
    background-color: mediumvioletred;
    height: 100vh;
    width: 100wh;
    display: flex;
}
.left{
    background-color: black;
    color: white;
    width: 20%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    overflow: auto;
    :hover{background-color: lightgreen};
    }
.right{
    width: 80%;
    height: 100%;
    background-color:beige;
    overflow: auto;
}
 button{
    background-color: red;
}


