<div class="parent">
  <div class="left">
     <h1>My Website</h1>
     <hr>
     <h2 routerLink="welcome">Welcome</h2>
     <h2 routerLink="home">Home</h2>
     <h2 routerLink="data-binding">databinding</h2>
     <h2 routerLink="calculator">calculator</h2>
     <h2 routerLink="rectangle">rectangle</h2>
     <h2 routerLink="bmi">bmi</h2>
     <h2 routerLink="directives">Directives</h2>
     <h2 routerLink="pipes">Pipes</h2>
     <h2 routerLink="registration">Registration</h2>
     <h2 routerLink="cart">cart</h2>
     <h2 routerLink="flipkart">flipkart</h2>
     <h2 routerLink="vehicle">vehicle</h2>
     <h2 routerLink="account">account</h2>
     <h2 routerLink="flipkart2">flipkart2</h2>
     <h2 routerLink="create-vehicle">create-vehicle</h2>
     <button type="button" class="btn btn-danger">Logout</button>
     </div>
    <div class="right">
      <router-outlet></router-outlet> 
    </div>
</div>
