.parent{
    height: 100vh;
    width: 100vw;
    background-color:rgb(92, 83, 148);
    display: flex;
    overflow: auto;
}
.left{
    width: 20%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
    :hover{
        background-color: rgb(125, 127, 127);
        overflow: auto;

    }
}
button{
    color: white;
    height: 40px;
    width: 298px;
    background-color: red;
}
/* .right{
    /* height: 100%; */
    /* width: 80%;
    background-color:rgb(92, 83, 148); */
/* } */

