<p>account works!</p>
<!--filtering-->
<input type="text" [(ngModel)]="term" (keypress)="filter()" placeholder="search account">

<!--sorting-->
<label for="">column</label>
<select name="" id="" [(ngModel)]="column">
    <option>account_name</option>
    <option>account_number</option>
    <option>account_balance</option>
    <option>city</option>
</select>
<label for="">order</label>
<select name="" id="" [(ngModel)]="order">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="sort()">sort</button>


<!--pagination-->
<label for="">limit</label>
<select name="" id="" [(ngModel)]="limit">
    <option >10</option>
    <option>20</option>
    <option>50</option>
</select>
<label for="">page</label>
<select name="" id="" [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>
<button (click)="pageNo()">page</button>

<table border="2">
    <thead>
        <tr>
            <th>account_name</th>
            <th>available_balance</th>
            <th>account_number</th>
            <th>city</th>
            <th>profile_picture</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.account_number}}</td>
            <td>{{account.city}}</td>
            <td>
                <img src="{{account.profie_picture}}" alt="">
            </td>
            <td>{{account.id}}</td>
            <td>
                <button (click)="delete(account.id)">delete</button>
            </td>
        </tr>
    </tbody>
</table>

